asgiref==3.8.1
diff-match-patch==20241021
Django==5.1.7
django-import-export==4.3.7
geographiclib==2.0
geopy==2.4.1
numpy==2.2.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.1
