{% extends 'census/base.html' %}
{% load static %}
{% block content %}
<h2>Advisory Board</h2>

<h3>Editors</h3>
<ul>
  <li>Jonathan Senchyne, University of Wisconsin-Madison</li>
  <li>Brigitte Fielder, University of Wisconsin-Madison</li>
</ul>

<h3>Advisory Board</h3>
<ul>
  <li>Dorothy Berry, National Museum of African American History & Culture</li>
  <li>Lauren Gottlieb-Miller, University of Houston</li>
  <li>Cassander Smith, University of Alabama</li>
  <li>Jesse Erickson, Morgan Library and Museum</li>
  <li>Tara Bynum, University of Iowa</li>
  <li>Laura Helton, University of Delaware</li>
</ul>

<h3>Student Project Assistants</h3>
<ul>
  <li>Akshith Goud Mothkuri (2025)</li>
</ul>
{% endblock %} 