{% extends "census/base.html" %}
{% load static %}

{% block content %}
  {# include modal styles & scripts #}
  <link rel="stylesheet" href="{% static 'census/css/modal.css' %}">
  <script src="{% static 'census/js/bootstrap-modal.js' %}"></script>

  {# The modal container #}
  <div id="copyModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    {% include "census/copy_modal.html" %}
  </div>

  {# Fire it onload #}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $('#copyModal').modal('show');
    });
  </script>
{% endblock %}
