{% extends "census/base.html" %}
{% load static %}

{% block content %}
  {# include the modal CSS & JS #}
  <link rel="stylesheet" href="{% static 'census/css/modal.css' %}">
  <script src="{% static 'census/js/bootstrap-modal.js' %}"></script>

  {# render the same modal markup #}
  <div id="copyModal" class="modal fade" tabindex="-1" role="dialog">
    {% include "census/copy_modal.html" %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var url = window.location.pathname.replace(/^\/wc\//, '/copydata/').replace(/\/$/, '/');
      $('#copyModal').load(url, function() {
        $('#copyModal').modal('show');
      });
    });
  </script>
{% endblock %}
