{% extends "census/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="wrapper">
  <div>
    <script src="{% static 'census/js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
    <link rel="stylesheet" href="{% static 'census/css/modal.css' %}" />
    <div id="copyModal" class="modal fade" role="dialog"></div>
  </div>

  {% include "census/play-title-header.html"
       with selected_issue=selected_issue
            icon_path=icon_path
            title=title
            copy_count=copy_count %}

  <table class="play-detail-set">
    {% if all_copies %}
      <tr>
        <th class="terse">WC&nbsp;#</th>
        <th class="detailed">Location</th>
        <th class="even">Shelfmark</th>
        <th class="icon">&nbsp;</th>
        <th class="icon">&nbsp;</th>
        <th class="icon">&nbsp;</th>
      </tr>
      {% for copy in all_copies %}
      <tr>
        {# Census ID #}
        <td>
          {% if copy.census_id and copy.census_id != '0' %}
            <a class="copy_data"
               href="#"
               data-form="{% url 'copy_data' copy.id %}"
               title="Details">
              {{ copy.census_id }}
            </a>
          {% else %}
            &nbsp;
          {% endif %}
          {% if user.is_staff %}
            <span class="note">
              [<a href="{% url 'admin:wheatleycensus_copy_change' copy.id %}">
                Edit copy
              </a>]
            </span>
          {% endif %}
        </td>

        {# Location #}
        <td>
          <a class="copy_data"
             href="#"
             data-form="{% url 'copy_data' copy.id %}"
             title="Details">
            {{ copy.location.name_of_library_collection }}
          </a>
        </td>

        {# Shelfmark – NOTE: single‐line if so Django sees the block #}
        <td>
          {% if copy.shelfmark and copy.shelfmark != '[Shelfmark not available]' %}
            <a class="copy_data"
               href="#"
               data-form="{% url 'copy_data' copy.id %}"
               title="Details">
              {{ copy.shelfmark }}
            </a>
          {% else %}
            &nbsp;
          {% endif %}
        </td>

        {# Verification icon #}
        <td>
          {% if copy.verification == 'U' %}
            <span title="Not verified" class="unverified-symbol">⃠</span>
          {% elif copy.verification == 'V' %}
            <span title="Verified" class="verified-symbol">✓</span>
          {% else %}
            &nbsp;
          {% endif %}
        </td>

        {# Fragment icon #}
        <td>
          {% if copy.fragment %}
            <span title="Fragment" class="unicode-icon">
              <i class="fas fa-industry"></i>
            </span>
          {% else %}
            &nbsp;
          {% endif %}
        </td>

        {# Facsimile icon #}
        <td>
          {% if copy.digital_facsimile_url %}
            <span title="Digital facsimile" class="unicode-icon">
              <a href="{{ copy.digital_facsimile_url }}" target="_blank">
                <i class="fas fa-camera-retro"></i>
              </a>
            </span>
          {% else %}
            &nbsp;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6" style="text-align:center; padding:20px;">
          No copies are available.
        </td>
      </tr>
    {% endif %}
  </table>
</div>
{% endblock content %}
