{% extends "census/base.html" %}

{% block content %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">
        Copy Details for {{ copy.issue.edition.title.title }} ({{ copy.issue.year }})
        {% if copy.digital_facsimile_url %}
          <span class="unicode-icon" title="Link to digital facsimile of this copy">
            <a href="{{ copy.digital_facsimile_url }}" target="_blank">
              <i class="fas fa-camera-retro"></i>
            </a>
          </span>
        {% endif %}
      </h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>WC#</strong>: {{ copy.wc_number }}</p>
          <p><strong>Location</strong>: {% if copy.location %}{{ copy.location.name_of_library_collection }}{% endif %}</p>
          <p><strong>Shelfmark</strong>: {% if copy.shelfmark and copy.shelfmark != "[Shelfmark not available]" %}{{ copy.shelfmark }}{% endif %}</p>
          {% if copy.catalogue_url %}
            <p><strong>Catalogue URL</strong>: <a href="{{ copy.catalogue_url }}" target="_blank">{{ copy.catalogue_url }}</a></p>
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if copy.height %}<p><strong>Leaf Height</strong>: {{ copy.height }} cm</p>{% endif %}
          {% if copy.width  %}<p><strong>Leaf Width</strong>: {{ copy.width }} cm</p>{% endif %}
          {% if copy.binding %}
            <p><strong>Binding</strong>: {{ copy.binding }}</p>
          {% endif %}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          {% if copy.issue.edition.title.notes %}
            <p><strong>Notes about this title</strong>: {{ copy.issue.edition.title.notes }}</p>
          {% endif %}
          {% if copy.issue.edition.notes %}
            <p><strong>Notes about this edition</strong>: {{ copy.issue.edition.notes }}</p>
          {% endif %}
          {% if copy.issue.notes %}
            <p><strong>Notes about this issue</strong>: {{ copy.issue.notes }}</p>
          {% endif %}
          {% if copy.backend_notes %}
            <p><strong>Copy-specific notes</strong>: {{ copy.backend_notes }}</p>
          {% endif %}
          {% if copy.marginalia %}
            <p><strong>Marginalia</strong>: {{ copy.marginalia }}</p>
          {% endif %}
        </div>
      </div>

      {% if copy.provenance_records.all %}
        <div class="row mt-3">
          <div class="col-12">
            <p><strong>Provenance</strong>:
            {% for record in copy.provenance_records.all|dictsort:"provenance_name.name" %}
              {{ record.provenance_name.name }}
              {% if record.provenance_name.viaf %}
                <a href="https://viaf.org/viaf/{{ record.provenance_name.viaf }}" target="_blank" title="VIAF">
                  <i class="fas fa-book"></i>
                </a>
              {% endif %}
              {% if record.provenance_name.bio %}
                <a href="{{ record.provenance_name.bio }}" target="_blank" title="Biography">
                  <i class="fas fa-external-link-alt"></i>
                </a>
              {% endif %}
              {% if not forloop.last %}; {% endif %}
            {% endfor %}
            </p>
          </div>
        </div>
      {% endif %}

      {% if copy.prov_info %}
        <div class="row mt-3">
          <div class="col-12">
            <p><strong>Provenance notes</strong>: {{ copy.prov_info }}</p>
          </div>
        </div>
      {% endif %}

      {% if copy.bibliography %}
        <div class="row mt-3">
          <div class="col-12">
            <p><strong>For scholarship on this copy, see</strong>: {{ copy.bibliography }}</p>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{% endblock %}
