{% extends 'census/base.html' %}
{% load static %}

{% block content %}

<div class="results-grid">
  {% for title in titles %}
    <div class="result-card{% if title.is_new %} new{% endif %}">
      {% if title.first_issue %}
        <a href="{% url 'copy_list' title.first_issue.id %}">
      {% else %}
        <a href="{% url 'issue_list' title.id %}">
      {% endif %}
          <div class="card-icon">
            {% if title.image %}
              <img src="{{ title.image.url }}" alt="{{ title.title }}">
            {% else %}
              <img src="{% static icon_path %}"
                   alt="Generic icon for {{ title.title }}">
            {% endif %}
          </div>
          <h3 class="card-title">{{ title.title }}</h3>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock content %}
