{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="play-title-icon">
    {% for row in titlerows %}
    <tr class="play-title-icon">
        {% for title in row %}
        <td class="play-title-icon">
            <div class="play-title-icon">
                <div class="play-title-icon-border">
                    {% with edition=title.edition_set.first %}
                        {% if edition and edition.issue_set.first %}
                            <a href="{% url 'copy_list' edition.issue_set.first.id %}">
                                {% if title.image %}
                                    <img class="play-title-icon" src="{{ title.image.url }}">
                                {% else %}
                                    <img class="play-title-icon-generic" src="{% static icon_path %}">
                                {% endif %}
                            </a>
                        {% else %}
                            {% if title.image %}
                                <img class="play-title-icon" src="{{ title.image.url }}">
                            {% else %}
                                <img class="play-title-icon-generic" src="{% static icon_path %}">
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </td>
        {% endfor %}
    </tr>
    <tr class="play-title">
        {% for title in row %}
        <td class="play-title">
            <div class="play-title">
                {% with edition=title.edition_set.first %}
                    {% if edition and edition.issue_set.first %}
                        <a class="linkbutton" href="{% url 'copy_list' edition.issue_set.first.id %}">
                            {{ title.title }}
                        </a>
                    {% else %}
                        {{ title.title }}
                    {% endif %}
                {% endwith %}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}
