{% load static %}
{% load humanize %}

<table class="play-title-header">
  <!-- 1) Icon + title -->
  <tr>
    <td rowspan="3" class="play-title-header-icon">
      <div class="play-title-icon-border">
        <a href="{% url 'issue_list' title.id %}">
          {% if title.image %}
            <img class="play-title-icon" src="{{ title.image.url }}" alt="{{ title.title }}">
          {% else %}
            <img class="play-title-icon-generic" src="{% static icon_path %}" alt="Generic icon">
          {% endif %}
        </a>
      </div>
    </td>
    <td class="play-title-header">
      <a href="{% url 'issue_list' title.id %}">{{ title.title }}</a>
      {% if user.is_staff %}
        <span class="note">[
          <a href="{% url 'admin:marlowecensus_title_change' title.id %}">Edit&nbsp;title</a>
        ]</span>
      {% endif %}
    </td>
  </tr>

  <!-- 2) Edition & Year -->
  <tr>
    <td class="play-issue-header">
      {% if selected_issue.edition.edition_number.isdigit %}
        {{ selected_issue.edition.edition_number|add:"0"|ordinal }} Edition
      {% else %}
        {{ selected_issue.edition.edition_number.capitalize }}
      {% endif %}
      {% if selected_issue.edition.edition_format %}
        ({{ selected_issue.edition.edition_format }})
      {% endif %}
      &nbsp;{{ selected_issue.year }}
    </td>
  </tr>

  <!-- 3) Extant‐copies count only -->
  <tr>
    <td class="play-issue-header">
      {% if copy_count > 0 %}
        <span>Extant copies: {{ copy_count }}</span>
      {% endif %}
    </td>
  </tr>
</table>
